<html>
<body>
How to use pin bot:
<ol>
<li> Type <pre style="display:inline">pin</pre> to pin the previous message.</li>
<li> Type <pre style="display:inline">pin $MESSAGE_ID</pre> to pin the message with id MESSAGE_ID.</li>
<li> Type <pre style="display:inline">unpin $MESSAGE_ID</pre> to unpin the message with id MESSAGE_ID.</li>
<li> Type <pre style="display:inline">pin list</pre> to link to the pin list.</li>
<li> Type <pre style="display:inline">pin alias $ALIAS</pre> to set an alias for your server.</li>
</ol>
The pin bot offers:
<ol>
<li>Unlimited pins</li>
<li>Message preservation</li>
<li>Pinners without message-deletion powers</li>
<li>A simple, low-bandwidth-friendly UI that anyone can access</li>
</ol>
<a href="https://discord.com/api/oauth2/authorize?client_id=763803843074719794&permissions=68608&scope=bot" target="_blank">Add pin bot to your server</a>.
</body>
</html>
